<!DOCTYPE html>
<html lang="en">
 
    <head>
        <title>Tournament Organiser Player Hub</title>
    </head>

    <body>
        <p>Basic behaviour for players as per documentation in the roles section.</p>

        <h2>Enter a Tournament</h2>
        <ul>
            <li><a href="signup">Sign Up</a></li>
            <li><a href="login">Login</a></li>
            <li><a href="registerforatournament">Register for a Tournament</a></li>
            <li><%= link_to 'See a list of tournaments', controller: 'tournaments' %></li>
            <li>Update my player details</li>
            <li>Update application</li>
            <li>See application status</li>
        </ul>


        <h2>Organise a Tournament</h2>
        <ul>
            <li><%= link_to 'Create a Tournament', new_tournament_path %></li>
            <li><a href="setrounds/mission_test">Set num rounds for mission_test</a></li>
            <li><a href="setmissions/mission_test">Set missions for mission_test</a></li>
            <li><a href="tournamentsetup/northcon_2095">Setup Northcon_2095</a></li>
        </ul>

        <h2>Play in a Tournament</h2>
        <ul>
            <li>Get a game</li>
            <li>Get a table</li>
            <li>Get an opponent</li>
            <li>Get the table layout</li>
            <li>Get a mission</li>
            <li>Get an opponent army list</li>
            <li>Get their army list (may be different between games</li>
            <li>Get the time remaining in the round</li>
            <li>Submit a score</li>
            <li>Submit a soft score</li>
            <li><a href="enterscore/1">Submit a once off score for entry #1</a></li>
            <li>See their total score</li>
            <li>Review previous games</li>
        </ul>

        <h2>View a Tournament</h2>
        <ul>
            <li> <a href="rankings/ranking_test">See the current placings for ranking_test</a></li>
            <li><a href="tournament/northcon_2095">See Northcon 2095</a></li>
            <li><a href="draw/ranking_test/1">See the 1st Round draw for ranking_test</a></li>
            <li>Search for tournaments - by player, army, club, etc.</li>
            <li>View results of tournies they've played in.</li>
        </ul>

        <h2>Feedback</h2>
        <ul>
            <li><a href="feedback">Place Feedback</a></li>
            <li><a href="suggestimprovement">Suggest Improvement</a></li>
            <li>about players</li>
            <li>about to</li>
            <li>about tournie</li>
        </ul>
    </body>

</html>
