# Add all the files you want git to ignore in this project

# Swap files
*.swp
*.swo
*.*~

# Config file. I am unsure as to whether to include this or ignore it. It would
# be fine to include so long as there are never any passwords, etc. in here.
*config.yml
docker-compose.yml
docker-passwords.yml

# Node dependenices
*node_modules
*.md
