<!DOCTYPE html>
<html lang="en">
 
    <head>
        <title>Tournament Organiser Modify Player</title>
    </head>

    <body>
        <div class="red" style="background: red; display:none"><ul></ul></div>
        <div class="green" style="background: green; display:none"><ul></ul></div>
        <p>You can add/change your details here:</p>
        <form class="form-add-player">
            <label for="inputUsername" class="sr-only">User Name</label>
            <input  type="username"
                    name="inputUsername"
                    id="inputUsername"
                    class="form-control"
                    placeholder="User Name"
                    autofocus>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input  type="email"
                    name="inputEmail"
                    id="inputEmail"
                    class="form-control"
                    placeholder="Email address"
                    autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input  type="text"
                    name="inputPassword"
                    id="inputPassword"
                    class="form-control"
                    placeholder="Enter a password"
                    autofocus>
            <label for="inputConfirmPassword" class="sr-only">Confirm password</label>
            <input  type="text"
                    name="inputConfirmPassword"
                    id="inputConfirmPassword"
                    class="form-control"
                    placeholder="Enter the password again"
                    autofocus>
             
            <input id="signup" class="btn btn-lg btn-primary btn-block submit" value="Sign Up" type="submit">
        </form>

    </body>

    <script type="text/javascript"
            src="../static/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript"
            src="../static/js/add-player.js"></script>

</html>
