<!DOCTYPE html>
<html lang="en">
 
    <head>
        <title>Tournament Organiser {{title}}</title>
    </head>

    <body>
        <div class="red" style="background: red; display:none"><ul></ul></div>
        <div class="green" style="background: green; display:none"><ul></ul></div>
        <p>{{intro}}</p>
        <form class="form-register-for-tournament">
            {% csrf_token %}
            {{ form.as_p }}
            <button id="submit" class="btn btn-lg btn-primary btn-block" type="button">Submit</button>
        </form>
    </body>

    {% load staticfiles %}
    <script type="text/javascript"
            src="{% static "js/jquery-2.1.4.min.js" %}"></script>
    <script type="text/javascript"
            src="{% static "js/feedback.js" %}"></script>
</html>
