<!DOCTYPE html>
<html lang="en">
 
    <head>
        <title>Tournament Organiser Player Hub</title>
    </head>

    <body>
        <p>Basic behaviour for players as per documentation in the roles section.</p>

        <h2>Enter a Tournament</h2>
        <ul>
            <li><a href="createATournament">Create a Tournament</a></li>
            <li><a href="signup">Sign Up</a></li>
            <li><a href="showRegisterForTournament">Register for tournament</a></li>
            <li>Update my player details</li>
            <li>Get list of tournaments</li>
            <li>Send application</li>
            <li>Update application</li>
            <li>See application status</li>
        </ul>


        <h2>Play in a Tournament</h2>
        <ul>
            <li>Get a game</li>
            <li>Get a table</li>
            <li>Get an opponent</li>
            <li>Get the table layout</li>
            <li>Get a mission</li>
            <li>Get an opponent army list</li>
            <li>Get their army list (may be different between games</li>
            <li>Get the time remaining in the round</li>
            <li>Submit a score</li>
            <li>Submit a soft score</li>
            <li>Submit a once off score - best presented - should be updateable (best opponent)</li>
            <li>See their total score</li>
            <li>Review previous games</li>
        </ul>

        <h2>View a Tournament</h2>
        <ul>
            <li>Search for tournaments - by player, army, club, etc.</li>
            <li>View results of tournies they've played in.</li>
        </ul>

        <h2>Place Feedback</h2>
        <ul>
            <li>about players</li>
            <li>about to</li>
            <li>about tournie</li>
            <li>about app</li>
            <li>request features</li>
            <li>report a bug</li>
            <li>make complaint</li>
        </ul>
    </body>

</html>
