<!DOCTYPE html>
<html lang="en">
 
    <head>
        <title>Tournament Organiser Modify Player</title>
    </head>

    <body>
        <p>You can add/change your details here:</p>
        <form class="form-add-player">
            <label for="inputUserName" class="sr-only">User Name</label>
            <input  type="username"
                    name="inputUserName"
                    id="inputUserName"
                    class="form-control"
                    placeholder="User Name"
                    required
                    autofocus>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input  type="email"
                    name="inputEmail"
                    id="inputEmail"
                    class="form-control"
                    placeholder="Email address"
                    required
                    autofocus>
             
            <button id="btnRegister" class="btn btn-lg btn-primary btn-block" type="button">Change</button>
        </form>

    </body>

    <script type="text/javascript"
            src="../static/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript"
            src="../static/js/add-player.js"></script>

</html>
