{% extends "base.html" %}

{% block title %}Tournaments{% endblock %}

{% block intro %}
    {% if tournaments %}
        <p>See available tournaments below:</p>
        <ul>
            {% for tournament in tournaments %}
                <li>
                    <a href="/tournament/{{tournament.name}}">
                        {{tournament.name}} - {{ tournament.date}}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no tournaments available</p>
    {% endif %}
{% endblock %}

