{% extends "base.html" %}
{% load to_filters %}

{% block title %}{{ info.name }}{% endblock %}

{% block intro %}
    <p>
        <ul>
            <li>Name: {{ info.name }}</li>
            <li>Date: {{ info.date }}</li>
            {% for key in info.details %}
                <li>{{key}}: {{ info.details|get_item:key }}</li>
            {% endfor %}
        </ul>
    </p>
    <p>
        <form action="" method="POST">
            {% csrf_token %}
            <input type="hidden" name="inputTournamentName" value="{{id}}"/>
            <input type="hidden" name="inputUserName" value="{{user}}"/>
            <button type="submit">Apply to play in {{info.name}}</button>
        </form>
    </p>
{% endblock %}
