doctype html
html(lang=en)
    head
        meta(charset=UTF-8)
        title
            | Tournament Organiser: Page Not Found
    body
        div#content
            | Page Not Found
            | 
            = ' ' + url ? url : ''
