doctype html
html(lang=en)
    head
        meta(charset=UTF-8)
        title
            | Tournament Organiser
            |  
            = ' ' + subtitle? subtitle : ''
    body
        div#container
            div#main_content_top
            div#main_content
                div#content.content
                div#menu.menu
                div#clear
            div#main_content_bottom
        if src_loc
            script(type='text/javascript', src=src_loc, charset=utf-8)
