<h1>Tournaments</h1>

<% if @tournaments.empty? %>
    <p>There are no tournaments available</p>
<% else %>
    <p>See available tournaments below:</p>
    <ul>
        <% @tournaments.each do |tournament| %>
            <li>
                <%= link_to "%s - %s" % [tournament.name, tournament.date],
                    tournament_path(tournament.name) %>
            </li>
        <% end %>
    </ul>
<% end %>
