doctype html
html(lang=en)
    head
        meta(charset=UTF-8)
        title
            | Tournament Organiser
            = ' ' + subtitle? subtitle : ''
    body
        div#content
        script(type='text/javascript', src='/devindex.js', charset=utf-8)
