<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Tournament Organiser Login</title>
    </head>

    <body>
        <div class="red" style="background: red; display:none"><ul></ul></div>
        <div class="green" style="background: green; display:none"><ul></ul></div>
        <p>You can add/change your details here:</p>
        <form class="form-add-player">
            {% csrf_token %}
            {{ form.as_p }}
            <input id="login" class="btn btn-lg btn-primary btn-block submit" value="Login" type="submit">
            <a href="/resetpassword">Forgot Password</a>
        </form>

    </body>

    {% load staticfiles %}
    <script type="text/javascript"
            src="{% static "js/jquery-2.1.4.min.js" %}"></script>
    <script type="text/javascript"
            src="{% static "js/login.js" %}"></script>
</html>
